---
import { YouTube } from '@astro-community/astro-embed-youtube';

interface Props {
    youtubeId: string;
    title: string;
}

const { youtubeId, title } = Astro.props;
---
<div class="aspect-video w-full">
    <YouTube id={youtubeId} title={title} posterQuality="max" />
</div>
